/*
    Fonts
    Intégration manuel d'une police d'écriture(on charge les depuis le dossier fonts)
*/
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*--- Page Portfolio ----*/

*{
    margin: 0;
    padding:0;
}


/*--- header ----*/

header{
    position:fixed;
}

/*--- titre----*/
h1{
    width: 136%;
    margin-left: 148px;
    float: left;
    position: absolute;
    top: 57px;
}

/*--- Navigation----*/

ul{
   margin-top: 185px;
   float: left;
    margin-bottom: 350px;
}

li{
    padding-bottom: 40px;
}

li a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin-left: 195px;
    color:grey;
}

/*--- Image----*/

img{
    margin: -2px;
    width: 33.3%;
}

.gauche{
    float: right;
    width: 77%;
}

.gauche img:hover{
  opacity: 0;
  
}


.text {
  color: rgb(7, 7, 7);
  font-size: 20px;
    top: 29%;
    left: 33%;
  text-align: center;
  position: absolute;
  font-weight: 10%;
}

/*--- Footer ----*/

.icon{
    margin-left: 138px;
}

.logo{
    width: 100%;
}

/*--- Page1 ----*/

.banner{
    height: 545px;
    position: relative;
    bottom: 113px;
    width: 100%;
}

.gauche1{
    float: right;
    width: 77%;
    background: rgb(218, 215, 215);
}

.nav{
    width:10%;
    margin-left: 90%;
}

.text1{
    width: 80%;
    margin: 62px;
    position: relative;
    bottom: 257px;
}

.text2{
    opacity: 0.80;
    background:#fff;
}

h2{
    color: black;
    font-size: 212%;
    margin-bottom: 58px;
}

h3{
    margin-bottom: 20px;
}

.text3{
    margin-bottom: 86px;
}