*{
    margin: 0;
    padding: 0;
}

body{
    transition-duration: 3s;
padding:0.5em 1em;
  font-size:150%;
  background-position: 60% 20%,0% 100%;
  background-repeat: no-repeat,no-repeat;
  background-size: 20% 20%,100% 300%;
  background-color: #FF8;
  text-shadow:0 0 0 #000;
  background-image: -webkit-linear-gradient(rgba(100%,0%,0%,1) 0%, rgba(100%,100%,0%,0) 0%),
              -webkit-linear-gradient(top, #405, #FF0);
  background-image: -moz-linear-gradient(rgba(100%,100%,0%,0) 60%),
              -moz-linear-gradient(top, #405, #FF0);
  background-image: -ms-linear-gradient(rgba(100%,100%,0%,0) 60%),
              -ms-linear-gradient(top, #405, #FF0);
  background-image: -o-linear-gradient(rgba(100%,100%,0%,0) 60%),
              -o-linear-gradient(top, #405, #FF0);
  background-image: linear-gradient(rgba(100%,100%,0%,0) 60%),
              linear-gradient(top, #405, #FF0);

}

body:hover{
background-position: 40% 130%,0% 0%;
  text-shadow:0 0 0.1em #FFC;
}




.container{
 margin: 0 auto;
}

h1{
    position: fixed;
    left: 40%;
    top:10px;
    font-size: 50px;
     text-align: center;
}

p{
    margin-top: 30%;
}