body{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    background: turquoise;
}



fieldset{
    padding: 10px;
    margin: 20px 0; /* 20px ( en haut), 0px ( a droite), 20px ( en bas), 0px ( a gauche)*/
}

fieldset:hover{
    box-shadow: 0 0 20px #444;
}

.vert{
    background: rgba(168, 197, 36, 0.6);
}

.vert label{
     color: #fff;
     width:200px;
     display: inline-block;
     padding: 10px 0 15px 40px;
}

.vert input{
    width: 300px;
    height: 20px;
}

.bleu{
    background: rgba(13, 152, 207, 0.6);
}

.bleu label{
    color: #fff;
    width: 100px;
    display: inline-block;
    padding: 5px 0 15px 10px;
}

.bleu input{
     width: 10px;
     height: 20px;
}

.rose{
    background: rgba(202, 78, 233, 0.6);
}

.rose label{
    color: #fff;
     width: 100px;
     display: inline-block;
     padding: 10px 0 10px 40px;
}

.rose input{
     width: 300px;
     height: 20px;
}


legend{
    background: rgb(255, 255, 255);
    color: rgb(27, 26, 26);
    font-size: 18px;
    font-weight: 900; /*épaisseur de police*/
    text-transform: uppercase;
}

input[type=checkbox], input[type=radio]{
    width: 30px;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=date]:focus, input[type=textarea]:focus{
    border: 5px solid red;
}

input[type=submit]{
    width: 20%;
    color: #fff;
    background: rebeccapurple;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;

}

input[type=submit]:hover{
    background: yellow;
}