*{
    padding: 0;
    margin: 0;
}

.banner{
    background: #232323;
    height: 50px;
}

section{
    width: 960px;
    margin: 0 auto;
}

span{
    color: #e48f00;
}

ul{
    float: right;
    width: 51%;
    margin-right:20%;
    list-style-type:none;
}

ul li a{
float:left;
padding-top: 20px;/*hauteur de l'image de fond*/
padding-right: 20px;
 color:#9d998f;
 text-decoration:none;

}

a:hover{
    color: brown;
}

.clear{
    clear: both;
}

.hal1, .p1{
    background: #000;
    color: #fff;
    width: 45%;
     float: left;
   margin: 10px;
}

