 *{
     margin: 0;
     padding:0;
 }
 
 #contener{
	padding: 1%;
	border: 3px solid #000;
	font-family: Arial, Helvetica, sans-serif;
}
.entete{
	width: 100%;
	/* margin: 0; */
	/* padding: 0; */
	position: static;/** Similaire à la valeur 'fixed' */
	background: #CCFFCC;
}
.gauche{
	/* margin: 0; */
	/* padding: 0; */
	position: static;/** Similaire à la valeur 'fixed' */
	width: 19%;
    background: #CC9999;
}
.droite{
	/* margin: 0; */
	/* padding: 0; */
	width: 29%;
	top: 7%;/** On positionne notre bloc à 9% du haut */
	right: 1.5%;/** On positionne notre bloc à 1.5% de la droite */
	position: absolute;/** On positionne notre bloc de manière absolu(càd: L'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page. Il est ensuite positionné par rapport à son ancêtre le plus proche qui est positionné s'il y en a un ou par rapport au bloc englobant initial sinon. La position finale de l'élément est déterminée par les valeurs de top, right, bottom et left.)  */
	background: #FFFF66;
}
.centre{
	/* margin: 0; */
	/* padding: 0; */
	width: 49%;
	position: absolute;
	left: 20%;/** On décale notre bloc de 20% vers la gauche */
	top: 7%;
	background: #33FFFF;
}

.image{
 position: absolute;
 width: 49%;
 left: 20%;
 top: 20.5%;
}

.image1{
    float: left;
    margin-left: 50px;
    border: 1px solid #000;
}

figcaption{
    background: #ccc;
    border: 1px solid #000;
}

.contenu{
	margin: 5px;
	padding: 10px;
	border: thin solid #FF0000;
	overflow: scroll;
	width: auto;
}
.pieddepage{
	position: static;
	background: #9BDAA7;
}

/* sur les écranx, quand la largeur de la fenêtre */

@media screen and (max-width: 600px){
    .gauche{
        background: #ffff66;
    }
}

/* sur les écranx, quand la largeur de la fenêtre fait au maximum*/

@media screen and (max-width: 375px){
    /* Créé un style responsive pour mobile (galaxy(360x640)) où l'ordre est le suivant:
    - entete
    - droite
    - gauche
    - centre
    - image
    - footer */
}

@media all and (min-width:1024px) and (max-width:1080px){

}

/* sur les téléviseurs */

@media tv{

}

/* sur tous types d'écrans orientés verticalement */

@media all and (orientation:portrait){
    
}