body{
    width:80%;
    margin: 10px auto;
    font-family: cursive;
}

#contener{
    background: red;
    border: 2px solid black;
}

header, footer{
    height: 80px;
    text-align: center;
    padding-top: 6px;
    color: white;
    background: #8e3557;
}

nav{
    height: 40px;
    color: white;
    padding-left:20px;
    padding-top: 6px;
    background: #4a1a2c;
}

section{
    text-align: center;
    border:20px solid white;
    background: #e6e2af;
}

p{
    margin: 0;
}

.a, .c{
background: #4a1a2c;
float: left;
width: 50%;
height: 200px;
}

.b, .d{
background: green;
height: 200px;
}

.c{
    background: blue;

}

.d{
background: yellowgreen;
}