<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mon application de film</ion-title>
  </ion-toolbar>



</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Désolé vous n'avez pas encore séléectionné de film favoris</p>
      <p>Veuillez sélectionné ci-dessous les films qui vous interessent</p>
      <button ion-button icon-left full routerLink="/movie-list">
        <ion-icon name="search"></ion-icon>
        Liste des meilleurs films 2019
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>