{% extends 'layout.html.twig' %}

{% block content %}
{% for message in app.session.flashbag.get('errors') %}
<div class="alert alert-danger alert-dismissible fade show">{{message}}</div>
<button aria-label="close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
</button>
{% endfor %}

<form action="{{path('connexion_check')}}" class="p-5" method="post">

    <div class="form-group">
        <input type="text" class="form-control" name="_username" placeholder="Username" value="">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="_password"  placeholder="Password" value="">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Connexion">
    </div>
</form>


{% endblock %}