body{
    font-family: 'Open Sans', sans-serif;
    background: url(../image/bkg.jpg);
    background-repeat: repeat;
}

header{
    background: #333333;
    text-align: center;
    color: #fff;
    height: 80px;
    /* line-height: 2.5; */
}

h1{
    padding: 1vw; /* vw = view width*/
}

div{
    background: #fff;
    color: #000;
    padding: 1vw;
}

code{
    font-size: 1.5vw;
    font-style: italic;
    background: lightgray;
}

img{
    margin: 1vw 0 1vw 0;
}